# String Data Type

 we will discuss the most popular data type in Python, i.e., string.
 
 Python string is the collection of the characters surrounded by single quotes, double quotes, or    triple quotes
 
 The computer does not understand the characters; internally, 
 
 it stores manipulated character as the combination of the 0's and 1's.

In [28]:
# checkink data type

In [29]:
a='python'
type(a)

str

In [30]:
# single
# multiple
# triple quotes are possible while initalizing the array

In [31]:
single_str='Hello world'
print(single_str)
double_str="Hello world"
print(double_str)
triple_str="""Hello world"""
print(triple_str)

Hello world
Hello world
Hello world

In [32]:
#Using index

In [33]:
a='python'   # showing the index position word
a[3]

'h'

In [34]:
# Using index function
a.index('o')# Searches the string for a specified value and returns the position of where it was found

4

In [35]:
# slicing operations also possible in python
# slicing operations are completely based on index positions

In [70]:
a='python is a programming language'

In [37]:
print(a[0:])
print(a[0:1])
print(a[0:5])

python is a programming language
p
pytho

In [71]:
print(a[::1])
print(a[::2])     # droping one by one

python is a programming language
pto sapormiglnug

In [39]:
# using slicing concept printing string from back side

In [40]:
print(a[-1])
print(a[-4:-1])
print(a[-22:-1])

e
uag
a programming languag

In [41]:
# to print the string in reverse way
a='python is a programming language'
print(a[::-1])
print(a[::-2])    # drop one by one by reverse

egaugnal gnimmargorp a si nohtyp
eaga nmagr  inhy

In [42]:
str1='hello'
str2=' world'
print(str1+str2)
print(str1*3)
print(str2*3)
print('w' in str1)
print('w' not in str1)

hello world
hellohellohello
 world world world
False
True

In [43]:
# string Format
# %s  --- string
#%d   --- integer

In [44]:
str3='world'
print('hello %s'%str3)

hello world

In [45]:
a='machine learning'
b=2
print('welcome to %d class of %s'%(b,a))

welcome to 2 class of machine learning

In [46]:
# using format function
x='prashant'
y='maharastra'
z=23
print('My name is {} ,basically from {},and my age is {}'.format(x,y,z))

My name is prashant ,basically from maharastra,and my age is 23

In [47]:
# some important methods are 

# capitalize
# casefold
# center
# endswith
# isalnum
# isalpha
# isdecimal
# upper
# lower
# join 
# ljust
# rjust
# lstrip
# rstrip
# split
# partition
# len
# count
# replace
# maketrans

In [48]:
a='python is programming language'
a.capitalize()        # first element of the string get capitalized

'Python is programming language'

In [49]:
b='My Name Is Prashant'
b.casefold           #Converts string into lower case

In [50]:
c='prashant'                   
print(c.center(25))
print(c.center(20,'*'))   # Returns a centered string

         prashant
******prashant******

In [51]:
z='Prashant'
z.endswith('t')   #Returns true if the string ends with the specified value

True

In [52]:
a='python5'
a.isalnum()   #Returns True if all characters in the string are alphanumeric

True

In [53]:
a.isalpha()    #Returns True if all characters in the string are in the alphabet

False

In [54]:
a.isdecimal()   #Returns True if all characters in the string are decimals

False

In [55]:
a='prashat'
a.upper()  # each word upper case

'PRASHAT'

In [56]:
b='PRASHANT'
b.lower()  # each word lower case

'prashant'

In [57]:
z=('prashant','bandu','wagh')
' '.join(z)                     # Joins the elements of an iterable to the end of the string

'prashant bandu wagh'

In [58]:
a='python'
a.ljust(20)          #Returns a left justified version of the string

'python              '

In [59]:
a.rjust(20)           #  Returns a right justified version of the string

'              python'

In [60]:
a='       python'      
a.lstrip()            # Returns a left trim version of the string

'python'

In [61]:
a='python      '
a.rstrip()            # Returns a right trim version of the string

'python'

In [62]:
a='    python     '
a.strip()             # Returns a trimmed version of the string

'python'

In [63]:
a='python'
a.split()            # Splits the string at the specified separator, and returns a list

['python']

In [64]:
x='prashant wagh'
x.partition(' ')      # Returns a tuple where the string is parted into three parts

('prashant', ' ', 'wagh')

In [65]:
x='python is programming language'

In [66]:
len(x)              # count the each word

30

In [67]:
x.count('a')        # count specified word

3

In [68]:
a='sam'
a.replace('s','p')   # string where a specified value is replaced with a specified value

'pam'

In [69]:
a='rakesh'
b='akesh'
c='oshan'
table=a.maketrans(b,c);      # tanslation table to be used in translations
print(a.translate(table))    # a translated string

roshan